.sameComponentUse {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px auto;
}
.left {
  width: 60%;
  height: 100%;
  padding: 50px;
  background-color: #f8f8f8;
  box-shadow: rgb(0 0 0 / 5%) 0px 5px 10px;
  border-radius: 10px;
  position: relative;
}
.sameComponent {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.right {
  flex: 1;
  height: 90%;

  position: relative;
}
.new {
  width: 650px;
  height: 90%;
  position: absolute;
  top: 30px;
  right: -25px;
  border-radius: 10px;
}
.possisonForIcons {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 10px;
}
.icon {
  width: 28px;
  height: 28px;
  /* margin-left: 10px; */
  color: #5d83e8;
}
.projectName {
  font-size: 25px;
  margin: 20px auto;
  font-weight: 800;
}
.aboutForProject {
  margin-right: 120px;
  min-height: 250px;
  font-weight: 500;
  font-size: 16px;
  font-family: Karla, sans-serif;
  color: #383838;
  line-height: 1.6;
}
.projectLinks {
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: end;
}
.github {
  width: 40px;
  height: 100%;
  color: #5d83e8;
  cursor: pointer;
}
.github:hover {
  transform: scale(1.05);
}

.deployeSite {
  background: linear-gradient(
    134deg,
    rgb(106, 152, 240) 0%,
    rgb(73, 97, 220) 99%
  );
  color: rgb(248, 248, 248);
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 12px;
  margin: 0px;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
}
.deployeSite:hover {
  transform: scale(1.05);
}

.projectImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .sameComponentUse {
    width: 100vw;
    height: 60vh;
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .left {
    width: 100%;
    height: 85%;
    padding: 0px;
  }
  .sameComponent {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .right {
    width: 100%;
  }
  .new {
    width: 350px;
    height: 50%;
    position: absolute;
    top: -250px;
    right: 0px;
    border-radius: 10px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border: 1px solid black;
  }
  .projectImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 10px;
  }
  .projectName {
    font-size: 22px;
    font-weight: 800;
    text-align: start;
    padding: 0px 20px;
  }
  .aboutForProject {
    margin-right: 0px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    text-align: start;
    padding: 0px 20px;
  }
  .possisonForIcons {
    display: none;
  }
  .projectLinks {
    width: auto;
    justify-content: center;
    text-align: end;
  }
}
